# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e4a4b2925cddab72363dfc1423f58ef143734249233a6020df7226058eb4488839070b94119cf46137069893e791e2bcb5af3e6795666c3dcac54151882036f8

test:
  secret_key_base: 4886a05b1d3a206c8ee93e5906c8715e99c5cd8703c741a779204a3f9587fa04b5f914d1536d401885671fa4257f2d93ea7c20e5f5424d04fd954045ec4ace06

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
